<form (ngSubmit)="submit(userForm.value)" #userForm="ngForm">
    <div>
        <label>name</label><input name="name" type="text" [(ngModel)]="user.name" required minlength="4" #nameCtrl="ngModel"/>
        <div *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">name is required</div>
    </div>
    <div>
        <label>isAdmin</label><input name="isAdmin" type="checkbox" [(ngModel)]="user.isAdmin" />
    </div>
    <div>
        <button [disabled]="userForm.invalid" type="submit">
            valid
        </button>
    </div>

    {{user | json}}
</form>